*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: space-around;
  background-color: #3220fd;
  gap: 20px;
}

.postCard{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  margin-top: 16px;
}

.commentBox{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hidden{
  display: none;
}